<div>
    <h2>Web Service: Company</h2>          
    <table class="table table-hover table-bordered table-condesed" ng-init="getCompanies()">
        <thead>
            <tr>
                <th class="text-center">Company Name</th>
                <th class="text-center">Address</th>
                <th class="text-center">City</th>
                <th class="text-center">Country</th>
                <th class="text-center">Email</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Owners</th>
                <th class="text-center">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="8" ng-show="!companies.length">
                    No record/s found.
                </td>
            </tr>
            <tr ng-repeat="company in companies" ng-init="getOwners(company.id)">
                <td>{{company.name}}</td>
                <td>{{company.address}}</td>
                <td>{{company.city}}</td>
                <td>{{company.country}}</td>
                <td>{{company.email}}</td>
                <td>{{company.phone}}</td>
                <td>
                    <ul>
                        <li  ng-show="!owners.length">
                            No record/s found.
                        </li>
                        <li ng-repeat="owner in owners">
                            <a>{{owner.name}}</a>
                        </li>
                    </ul>       
                    <hr style="margin: 10px"/>
                    <div class="text-center">
                        <a href="#owner?companyUri={{company._links.self.href}}">
                            <button class="btn btn-success btn-xs">ADD OWNER</button>
                        </a>
                    </div>
                </td>
                <td class="text-center">
                    <a href="#company/{{company.id}}">View</a>
                </td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <a href="#company">
        <button class="btn btn-success btn-sm">
            ADD NEW COMPANY
        </button>
    </a>
</div>